@{
    ViewBag.Title = "Ops";
}

<div class="row-fluid">
    <div class="span12">
        <h1>Ops</h1>
        <p>Você precisa ser adicionado como um aluno para fazer as avaliações, converse com o seu professor.</p>
    </div>
</div>
