@model Tacs.ViewModels.Disciplina.VMAddAluno

@{
    ViewBag.Title = "Adicionar aluno";
}

<div class="row-fluid">
    <div class="span12">
        @using (Html.BeginForm("AddAluno"))
        {
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Adicionar aluno</h3>
                </div>

                <div class="panel-body">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-5">
                            @Html.TacsDropDownListFor(model => model.AlunoId, new SelectList(Model.Alunos, "Id", "Nome", Model.AlunoId), i18n.T("GeralSelecioneOpcao"))
                        </div>
                    </div>
                </div>

                <div class="panel-footer">
                    @Html.TacsSubmitButton("Adicionar", new { @class = "btn btn-success" })
                    @Html.ActionLink("Voltar", "Edit", new { id = Model.DisciplinaId }, new { @class = "btn btn-default" })
                </div>
            </div>
        }
    </div>
</div>
