@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <h1>@ViewBag.Message</h1>
        <p>Use this area to provide additional information.</p>
    </div>
</div>