@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TACS - Unisociesc</h1>
    <p class="lead"><p>Sistema de aplicação de avaliações</p>
    <p><a href="http://www.asp.net/identity" class="btn btn-primary btn-large">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <dl>
            <dt>Sistema de avaliações</dt>
            <dd>
                Faça o @Html.ActionLink("Login", "Login", "Account") para ver as avaliações disponíveis.
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <dl>
            <dt>Ainda não tem uma conta?</dt>
            <dd>
                @Html.ActionLink("Clique aqui para se registrar!", "Register", "Account")
            </dd>
        </dl>
    </div>
</div>