@model Tacs.ViewModels.Teste.VMCreateEditTeste

@{
    ViewBag.Title = "Editando teste";
}

<div class="row-fluid">
    <div class="span12">
        @using (Html.BeginForm("Edit", "Teste"))
        {
            @Html.Partial("_Form", Model)
        }
    </div>
</div>