<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://micjoinvilletacs.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>micjoinvilletacs.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>micjoinvilletacs</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$micjoinvilletacs</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:gp0vfyx8dm.database.windows.net,1433;Initial Catalog=micjoinvilletacsdb;Integrated Security=False;User ID=micjoinvilletacsdb@gp0vfyx8dm;Password=t@csdb123;Connect Timeout=30;Encrypt=True" Name="Server=tcp:gp0vfyx8dm.database.windows.net,1433;Database=micjoinvilletacsdb;User ID=micjoinvilletacsdb@gp0vfyx8dm;Password=t@csdb123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Tacs.Domain.TacsContext, Tacs.Domain" MigrationConfiguration="Tacs.Domain.Migrations.Configuration, Tacs.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnectionAzure" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:gp0vfyx8dm.database.windows.net,1433;Initial Catalog=micjoinvilletacsdb;Integrated Security=False;User ID=micjoinvilletacsdb@gp0vfyx8dm;Password=t@csdb123;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnectionAzure_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:gp0vfyx8dm.database.windows.net,1433;Database=micjoinvilletacsdb;User ID=micjoinvilletacsdb@gp0vfyx8dm;Password=t@csdb123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:gp0vfyx8dm.database.windows.net,1433;Database=micjoinvilletacsdb;User ID=micjoinvilletacsdb@gp0vfyx8dm;Password=t@csdb123;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>